<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de recherche</title>
</head>
<body>
    <h1>Résultats de recherche pour "{{ terme_recherche }}" :</h1>

    {% if livres %}
        <ul>
            {% for livre in livres %}
                <li>{{ livre.titre }} - {{ livre.auteur }}</li>
                <!-- Ajoutez d'autres informations sur le livre si nécessaire -->
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé pour "{{ terme_recherche }}"</p>
    {% endif %}

    <!-- Modifier le lien pour rediriger vers la page de recherche -->
    <a href="/rechercher_livres">Retour à la recherche</a>
</body>
</html>
